@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.map-container .leaflet-top.leaflet-left {
  inset-inline-start: auto;
  inset-inline-end: 16px;
}

.map-container .leaflet-top.leaflet-left,
.map-container .leaflet-top.leaflet-right {
  top: 72px;
}
